* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 10px 8px;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    color: #2e3332;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #2e3332;
}

.title {
    text-align: center;
}

/* ------------------------------------ main sections */

section {
    margin: 150px auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    max-width: 320px;
}