* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f2f1e4;
}

/* ---------------------------------------- header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 10px 8px;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    color: #2e3332;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #2e3332;
}

.title {
    text-align: center;
    margin: 30px 0;
    font-size: 54px;
}

/* ------------------------------------ main sections */

section {
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section img {
    max-width: 320px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}

.img-left {
    margin-right: 25px;
}

.img-right {
    margin-left: 25px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-wrapper h2 {
    padding-bottom: 15px;
}

/* ------------------------------- footer */

footer {
    background: #0e1d6e;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    color: white;
    text-decoration: none;
}